# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# nyc test coverage
.nyc_output

# Dependency directories
node_modules
jspm_packages
package-lock.json
package.json

#npm cache directory
.npm
